<!-- create sponsor-->
<template>
    <div class="col-xs-12">
        <div class="lgx-tab" v-if="event.repetitive > 0">
            <ul class="nav nav-pills lgx-nav">
                <li v-for="(item, index) in calculate_months" 
                    :key="index" :class="{'active' : index == tab_active_index}"
                    @click="tab_active_index = index"
                >
                    <a data-toggle="pill">
                        <h3>
                            <span>{{ index == 0 ? moment(changeDateFormat(local_start_date, "YYYY-MM-DD")).format('DD') 
                                : moment(changeDateFormat(local_from_date[index], "YYYY-MM-DD")).format('DD') }} -
                            </span>
                            {{ index == (calculate_months.length-1) ? moment(changeDateFormat(local_end_date, "YYYY-MM-DD")).format('DD MMM YYYY')
                                : moment(changeDateFormat(local_to_date[index], "YYYY-MM-DD")).format('DD MMM YYYY') }} 
                        </h3> 
                        <p>
                            <span> {{ selected_dates[index].length }} </span> {{ selected_dates[index].length > 1 ? trans('em.days') : trans('em.day') }} {{ trans('em.event') }}
                        </p>

                    </a>
                </li>
            </ul>
            <div class="tab-content lgx-tab-content" v-if="!event.merge_schedule">
                <div v-for="(item, index) in calculate_months" 
                    :key="index"   class="tab-pane" :class="{'active' : index == tab_active_index}" >
                    <div class="panel-group" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default lgx-panel">
                            <div class="panel-heading" role="tab">
                                <div class="panel-title">
                                    <a role="button" data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne">
                                        <div class="lgx-single-schedule"  v-for="(selected_date, index1) in selected_dates[index]" 
                                            :key= "index1" 
                                        >
                                            <div class="schedule-info" 
                                                @click="selectDates(dateToFullDate(selected_date, schedules[index].from_date), false,
                                                    changeTimeFormat(local_from_time[index],'hh:mm A'), changeTimeFormat(local_to_time[index], 'hh:mm A') )">
                                                <h4 class="time">
                                                    {{changeTimeFormat(local_from_time[index], "hh:mm A") }} - 
                                                    {{ changeTimeFormat(local_to_time[index], 'hh:mm A')}}
                                                </h4>
                                                <h3 class="title">{{ dateToFullDate(selected_date, schedules[index].from_date) }}</h3>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- merge schedule | monthly repetitive -->
            <div class="tab-content lgx-tab-content" v-if="event.merge_schedule > 0 && event.repetitive_type == 3">
                <div v-for="(item, index) in calculate_months" 
                    :key="index"   class="tab-pane" :class="{'active' : index == tab_active_index}" >
                    <div class="panel-group" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default lgx-panel">
                            <div class="panel-heading" role="tab">
                                <div class="panel-title">
                                    <a role="button" data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne">
                                        <div class="lgx-single-schedule"  
                                            @click="selectDates(
                                                dateToFullDate(selected_dates[index][0],schedules[index].from_date),
                                                dateToFullDate(selected_dates[index][selected_dates[index].length - 1], schedules[index].from_date),
                                                changeTimeFormat(local_from_time[index],'hh:mm A'), 
                                                changeTimeFormat(local_to_time[index], 'hh:mm A') 
                                            )" 
                                        >
                                            <div class="schedule-info"> 
                                                
                                                <div class="title" v-for="(selected_date, index1) in selected_dates[index]" 
                                                    :key= "index1" 
                                                >
                                                    <h4 class="time" v-if="index1 == 0">
                                                        {{changeTimeFormat(local_from_time[index], "hh:mm A") }} - 
                                                        {{ changeTimeFormat(local_to_time[index], 'hh:mm A')}}
                                                    </h4>

                                                    <h3>
                                                        {{ dateToFullDate(selected_date, schedules[index].from_date) }}
                                                    </h3>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- merge schedule | weekly repetitive -->
            <div class="tab-content lgx-tab-content" v-if="event.merge_schedule > 0 && event.repetitive_type == 2">
                <div v-for="(item, index) in calculate_months" 
                    :key="index"   class="tab-pane" :class="{'active' : index == tab_active_index}" >
                    <div class="panel-group" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default lgx-panel">
                            <div class="panel-heading" role="tab">
                                <div class="panel-title">
                                    <a role="button" data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne">
                                        <div class="lgx-single-schedule"  
                                            v-for="(item2, index2) in week_numbers[index]" 
                                            :key="index2"
                                            @click="selectDates(
                                                getWeekFirstDate(item2, selected_dates[index], schedules[index].from_date),
                                                getWeekLastDate(item2, selected_dates[index], schedules[index].from_date),
                                                changeTimeFormat(local_from_time[index],'hh:mm A'), 
                                                changeTimeFormat(local_to_time[index], 'hh:mm A') 
                                            )" 
                                        >
                                            <div class="schedule-info"> 
                                                <h4 class="time">
                                                    {{changeTimeFormat(local_from_time[index], "hh:mm A") }} - 
                                                    {{ changeTimeFormat(local_to_time[index], 'hh:mm A')}}
                                                </h4>
                                                <div class="title" 
                                                    v-for="(selected_date, index1) in selected_dates[index]" 
                                                    :key= "index1"
                                                    v-if="item2 == moment(dateToFullDate(selected_date, schedules[index].from_date)).isoWeek()"
                                                >
                                                    <h3>
                                                        {{  dateToFullDate(selected_date, schedules[index].from_date) }} 
                                                    </h3>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row" v-if="event.repetitive <= 0">
            <div class="col-md-12 text-center">
                <button class="lgx-btn lgx-btn-success text-center" type="button" @click="singleEvent()"><i class="fas fa-ticket-alt"></i> {{ trans('em.get') }} {{ trans('em.tickets') }}</button>
            </div>
        </div>
        
        <ticket-component 
            v-if="booking_date && start_time && end_time" 
            :event="event" 
            :tickets="tickets" 
            :customers="customers" 
            :max_ticket_qty="max_ticket_qty" 
            :currency="currency"
            :login_user_id="login_user_id"
        >
        </ticket-component>

        
    </div>
</template>


<script>

import { mapState, mapMutations} from 'vuex';
import mixinsFilters from '../../mixins.js';
import TicketComponent from './TicketList.vue';
import { constants } from 'crypto';

var moment = require('moment');

export default {
    
    props: [
        'event', 'max_ticket_qty', 'login_user_id'
    ],

    mixins:[
        mixinsFilters
    ],

     components: {
        'ticket-component'  : TicketComponent
    },

    data() {
        return {
            schedules           : [],
            all_dates           : [],
            selected_dates      : [],
            moment              : moment,
            calculate_months    : [],
            
            // local_time       
            local_from_date    : [],
            local_to_date      : [],
            local_from_time    : [],
            local_to_time      : [],
            local_start_date   : null,
            local_end_date     : null,

            // tab active
            tab_active_index   : 0,

            tickets            : [],
            customers          : [],
            currency           : null,

            //weekly
             
            week_numbers       : [],
            
        }
    },

    computed: {
        // get global variables
        ...mapState( ['booking_date', 'start_time', 'end_time', 'booking_end_date' ]),
        
    },

    methods: {

          // update global variables
        ...mapMutations(['add', 'update']),

        selectDates(booking_date, booking_end_date, start_time, end_time)
        {
            this.add({
                booking_date        : (moment(booking_date,'dddd LL').isValid())  ? booking_date : null,
                booking_end_date    : (moment(booking_end_date, 'dddd LL').isValid()) ? booking_end_date : null,
                start_time          : (moment(start_time, 'hh:mm A').isValid()) ? start_time : null,
                end_time            : (moment(end_time, 'hh:mm A').isValid())   ? end_time : null,
            })
        
        },
        // getSchedule
        getEventSchedule()
        {
            let post_url = route('eventmie.event_schedule') ;
            let post_data = {
                'event_id'         : this.event.id,
            };

            axios.post(post_url, post_data)
            .then(res => {
                
                this.schedules   = res.data.schedules;
                
                //server time convert into local timezone
                this.convert_to_local_tz();
                
                // count and calculate months after get schedule
                this.calculate_months = this.countMonth(this.local_start_date, this.local_end_date);

                // generate dates
                this.generateDates();
               
            })
            .catch(error => {
                let serrors = Vue.helpers.axiosErrors(error);
                if (serrors.length) {
                    this.serverValidate(serrors);
                }
            });
        },
        
        // generates all dates
        generateDates() {
            this.calculate_months.forEach(function(value, key) {
                
                this.all_dates[key]   = [];
                // make months like 2019-3
                var  month            = moment(this.local_from_date[key], "YYYY-MM-DD").format("YYYY-MM");
                
                //count days in one month
                var  count_days       = moment(this.local_from_date[key], "YYYY-MM-DD").daysInMonth();

                var i=1;
                while( i <= count_days)
                {
                    // make dates object of moment according to months and year
                    this.all_dates[key].push(moment(month+'-'+i, "YYYY-MM-DD"));
                    i++;
                    
                }
            }.bind(this));    
            
            if(this.schedules[0].repetitive_type==1)
            {
                // generates ddates for daily event
                this.generateDaily();
            }
            else if(this.schedules[0].repetitive_type==2)
            {
                // generates selected dates for weekly event
                this.generateWeekly();
            }
            else if(this.schedules[0].repetitive_type==3)
            {
                
                this.generateMonthly();
            }
        },

        // generates selected dates for monthly event
        generateMonthly() {
            // generates selected dates
            var $this = this;
            this.all_dates.forEach(function(ad_value, ad_key) {
                
                var schedules_dates = [];
                $this.schedules[ad_key].repetitive_dates.split(',').forEach(function(v, k) {
                    schedules_dates[k] = Number(v);
                });

                $this.selected_dates[ad_key]     = []; 
                ad_value.forEach(function(date, key) {
                   
                    if(schedules_dates.includes(Number(moment(date).format('DD')))) {
                        
                        if(ad_key == 0 && Object.keys($this.calculate_months).length != 1)
                        {
                            // selected date must be grather than start_date of event
                            if(moment($this.local_start_date).format('DD') <= moment(date).format('DD'))
                            {
                                $this.selected_dates[ad_key].push(Number(moment(date).format('DD')));
                                
                            }    
                        }
                        else if(ad_key == ($this.all_dates.length -1) && Object.keys($this.calculate_months).length != 1)
                        {
                            
                            // selected date must be less than end_date of event
                            if(moment($this.local_end_date).format('DD') >= moment(date).format('DD'))
                            {
                                $this.selected_dates[ad_key].push(Number(moment(date).format('DD')));
                                
                            }    
                        }
                        if(Object.keys($this.calculate_months).length == 1)
                        {
                            
                              // selected date must be less than end date and grather than start date
                            if(moment($this.local_start_date).format('DD') <= moment(date).format('DD') 
                                && moment($this.local_end_date).format('DD') >= moment(date).format('DD'))
                            {
                                $this.selected_dates[ad_key].push(Number(moment(date).format('DD')));
                            }    
                        }
                        else if(Object.keys($this.calculate_months).length != 1 && 
                                ad_key != 0 && 
                                ad_key != ($this.all_dates.length -1))
                        {
                            
                            $this.selected_dates[ad_key].push(Number(moment(date).format('DD')));
                        }
                    }
                });

            }); 
            
            
        },

        // generates selected dates for daily event
        generateDaily() {
            
            var $this = this;
            this.all_dates.forEach(function(ad_value, ad_key) {

                var schedules_dates = [];
                var tmp             = null;
                var month           = null;
                $this.schedules[ad_key].repetitive_dates.split(',').forEach(function(v, k) {
                    
                    // make month like 2019-6 and it server side months
                    month               = moment($this.schedules[ad_key].from_date).format("YYYY-MM");
                    //meke date like 2019-12-3
                    
                    tmp                 = moment(month +'-'+v).format("YY-MM-DD");
                    
                    // convert tmp to number
                    schedules_dates[k]  = Number(moment(tmp, "YY-MM-DD").format('DD'));     
                });
             
                //store all number of dates into all_dates_number variable
                var all_dates_number    = [];
                ad_value.forEach(function(v, k) {

                    if(ad_key == 0  && Object.keys($this.calculate_months).length != 1)
                    {
                        // selected date must be grather than start_date of event
                        if(moment($this.local_start_date).format('DD') <= moment(v).format('DD'))
                            all_dates_number[k] = Number(moment(v).format('DD'));
                    }
                    else if(ad_key == ($this.all_dates.length -1) &&  Object.keys($this.calculate_months).length != 1)
                    {
                        // selected date must be less than end_date of event
                        if(moment($this.local_end_date).format('DD') >= moment(v).format('DD'))
                            all_dates_number[k] = Number(moment(v).format('DD'));
                    }
                    else if(Object.keys($this.calculate_months).length == 1)
                    {
                        if(moment($this.local_start_date).format('DD') <= moment(v).format('DD') 
                                && moment($this.local_end_date).format('DD') >= moment(v).format('DD'))
                        {
                            all_dates_number[k] = Number(moment(v).format('DD'));
                        }    
                    }
                    else if(Object.keys($this.calculate_months).length != 1 && 
                                ad_key != 0 && 
                                ad_key != ($this.all_dates.length -1))
                    {
                        all_dates_number[k] = Number(moment(v).format('DD'));
                    }
                    
                });
                 
                // get diffrence between all_dates_number and schedules_dates
                let difference                   = all_dates_number.filter(x => !schedules_dates.includes(x));
        
                $this.selected_dates[ad_key]     = []; 
                $this.selected_dates[ad_key]     = difference; 
            });    

        },

         // generates selected dates for weekly event
        generateWeekly() {
            // generates selected dates
            var $this = this;
            this.all_dates.forEach(function(ad_value, ad_key) {
                
                var schedules_dates = [];
                
                $this.schedules[ad_key].repetitive_days.split(',').forEach(function(v, k) {
                    
                    if(Number(v)==1)
                        schedules_dates[k] = "Sunday";
                    if(Number(v)==2)
                        schedules_dates[k] = "Monday";
                    if(Number(v)==3)
                        schedules_dates[k] = "Tuesday";
                    if(Number(v)==4)
                        schedules_dates[k] = "Wednesday";
                    if(Number(v)==5)
                        schedules_dates[k] = "Thursday";
                    if(Number(v)==6)
                        schedules_dates[k] = "Friday";      
                    if(Number(v)==7)
                        schedules_dates[k] = "Saturday";            
                });
            
                $this.selected_dates[ad_key]     = []; 
                ad_value.forEach(function(date, key) {
                    if(schedules_dates.includes(String(date.format('dddd')))) {
                    
                        if(ad_key == 0 && Object.keys($this.calculate_months).length != 1)
                        {
                            // selected date must be grather than start_date of event
                            if(moment($this.local_start_date).format('DD') <= moment(date).format('DD'))
                                $this.selected_dates[ad_key].push(Number(date.format('DD')));
                        }
                        else if(ad_key == ($this.all_dates.length -1) && Object.keys($this.calculate_months).length != 1)
                        {
                            // selected date must be less than end_date of event
                            if(moment($this.local_end_date).format('DD') >= moment(date).format('DD'))
                                $this.selected_dates[ad_key].push(Number(date.format('DD')));
                        }
                        else if(Object.keys($this.calculate_months).length == 1)
                        {
                            if(moment($this.local_start_date).format('DD') <= moment(date).format('DD') 
                                    && moment($this.local_end_date).format('DD') >= moment(date).format('DD'))
                            {
                                $this.selected_dates[ad_key].push(Number(date.format('DD')));
                            }    
                        }
                        else if(Object.keys($this.calculate_months).length != 1 && 
                                ad_key != 0 && 
                                ad_key != ($this.all_dates.length -1))
                        {
                            $this.selected_dates[ad_key].push(Number(date.format('DD')));
                        }
                        
                    }
                });
            }); 
            
            this.weekly();
        },

        // server time convert into local timezone
        convert_to_local_tz(){

            // convert all schedules to local timezone
            this.schedules.forEach(function(value, key) {
                
                this.local_from_date[key]    = [];
                this.local_to_date[key]      = [];
                this.local_from_time[key]    = [];
                this.local_to_time[key]      = [];
                
                this.local_from_date[key].push(this.convert_date_to_local(this.schedules[key].from_date));
                this.local_to_date[key].push(this.convert_date_to_local(this.schedules[key].to_date));
                this.local_from_time[key].push(this.convert_time_to_local(this.schedules[key].from_date, this.schedules[key].from_time, "HH:mm:ss"));
                this.local_to_time[key].push(this.convert_time_to_local(this.schedules[key].from_date, this.schedules[key].to_time, "HH:mm:ss"));

            }.bind(this));
                
            // convert all dates to local timezone
            this.local_start_date   = this.convert_date_to_local(this.event.start_date);
            this.local_end_date     = this.convert_date_to_local(this.event.end_date);
        },

        // get tickets
        getTickets(){
            axios.post(route('eventmie.bookings_get_tickets'), {
                'event_id' : this.event.id,
                
            })
            .then(res => {
                // fill data to global sponsors array
                if(res.data.status)
                {
                    this.tickets     = res.data.tickets;
                    this.customers   = res.data.customers;
                    this.currency    = res.data.currency;
                }
            })
            .catch(error => {
                Vue.helpers.axiosErrors(error);
            });
        },

        //single event
        singleEvent(){
            if(this.event.repetitive <= 0 )
            {
                this.add({
                    booking_date : this.event.start_date,
                    start_time   : this.event.start_time,
                    end_time     : this.event.end_time,
                })
            }
        },
        
        // week number group for merger_schedule weekly
        weekly(){
            var $this = this;
            
            this.selected_dates.forEach(function(value, key){
                var week_number = "week_number"
                $this.week_numbers[key] = [];
                value.forEach(function(val1, key1) {
                    if(!$this.week_numbers[key].includes(moment($this.dateToFullDate(val1, $this.schedules[key].from_date)).isoWeek())) {
                        $this.week_numbers[key].push(moment($this.dateToFullDate(val1, $this.schedules[key].from_date)).isoWeek());
                    }
                });
            });

        },

        //weekly  first date merger_schedule weekly
        getWeekFirstDate(item2, selected_dates, schedules){
            var $this = this;

            var tmp = [];
            selected_dates.forEach(function(selected_date, key){
                if(item2 == moment($this.dateToFullDate(selected_date, schedules)).isoWeek()) {
                    tmp.push($this.dateToFullDate(selected_date, schedules));
                }    
            });

            return tmp[0];
        },
        
        //weekly  last date merger_schedule weekly
        getWeekLastDate(item2, selected_dates, schedules){
            var $this = this;

            var tmp = [];
            selected_dates.forEach(function(selected_date, key){
                if(item2 == moment($this.dateToFullDate(selected_date, schedules)).isoWeek()) {
                    tmp.push($this.dateToFullDate(selected_date, schedules));
                }    
            });

            return tmp[tmp.length-1];
        }

    },
    mounted() {
        
        if(this.event.repetitive > 0)
            this.getEventSchedule();

        this.getTickets();
        
    },  
}
</script>