<!-- create sponsor-->

<template>
    <div>
       
        <div class="modal modal-mask" v-if="openModal">
            <div class="modal-dialog modal-container modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" @click="close()"><span aria-hidden="true">&times;</span></button>
                        <h3 class="title text-uppercase">{{ trans('em.booking') }}: {{ event.title }}</h3>
                    </div>

                    <form ref="form" @submit.prevent="validateForm" method="POST" >
                        <input type="hidden" class="form-control" name="event_id" :value="tickets[0].event_id" >
                        <input type="hidden" class="form-control" name="booking_date" :value="convert_date(moment(booking_date).format('YYYY-MM-DD'))" >
                        <input type="hidden" class="form-control" name="booking_end_date" 
                            :value="(booking_end_date != null && typeof(booking_end_date) != 'undefined') ? 
                            convert_date(moment(booking_end_date).format('YYYY-MM-DD')) : null" 
                        >
                        <input type="hidden" class="form-control" name="start_time" :value="convert_time(moment(start_time,'HH:mm a'))" >
                        <input type="hidden" class="form-control" name="end_time" :value="convert_time(moment(end_time,'HH:mm a'))" >
                        
                        <input type="hidden" class="form-control" name="merge_schedule" :value="event.merge_schedule" >
                        
                        <!-- only for admin -->
                        <div class="row ml-1" v-if="customers.length > 0">
                            <div class="col-md-4">
                                <div class="form-group text-left">
                                    <label class="text-left">{{ trans('em.select') }} {{ trans('em.customer') }}</label>
                                
                                    <select class="form-control" name="customer_id" v-model="customer_id"  v-validate="'required|decimal|is_not:0'">
                                        <option value="0">-- {{ trans('em.customer') }} --</option>
                                        <option :value="customer.id" v-for=" (customer, index) in customers" :key="index">{{customer.name }}</option>
                                    </select>
                                    <span v-show="errors.has('customer_id')" class="danger">
                                            {{ errors.first('customer_id') }}
                                    </span>
                                </div>
                            </div>
                        </div>
                        

                        <div class="row">
                            <div class="col-xs-12">
                                <ul class="list-group">
                                    <li class="list-group-item" 
                                        v-for="(item, index) in tickets" 
                                        :key = "index"
                                    >
                                        <input type="hidden" class="form-control" name="ticket_id[]" :value="item.id" >
                                        <input type="hidden" class="form-control" name="ticket_title[]" :value="item.title" >

                                        <div class="row">
                                            <div class="col-md-6">
                                                <h3 class="mb-1">{{item.title}}</h3>
                                                <p class="lead mb-2">{{ item.price > 0 ? item.price +" " +currency : trans('em.free') }}</p>
                                                
                                                <!-- show tax only if quantity is set -->
                                                <p>&nbsp;<small v-if="quantity[index] > 0 && item.price > 0 && item.rate_type" >
                                                    {{ item.tax_title }}: {{ !total_price[index] ? 0 : countTax(item.price, item.rate, item.rate_type, item.net_price, quantity[index]) }}
                                                </small></p>
                                                
                                                <div>
                                                    <a class="pointer text-info" @click="ticket_info = !ticket_info">{{ trans('em.view') }} {{ trans('em.info') }}</a> 
                                                    
                                                    <!-- hide/show below ticket description -->
                                                    <p v-if="ticket_info"><small>{{ item.description }}</small></p>
                                                </div>
                                                
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group mt-5">
                                                    <select class="form-control" name="quantity[]" v-model="quantity[index]">
                                                        <option value="0" selected>0</option>
                                                        <option :value="itm" v-for=" (itm, ind) in max_ticket_qty"  :key="ind">{{itm }}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-3 text-right">
                                                <h3 class="mt-5">
                                                    {{  total_price[index] ? total_price[index] : 0 +" "+currency   }}
                                                    <small v-if="total_price[index] > 0"><strong>{{currency}}</strong></small>
                                                </h3> 
                                            </div>
                                        </div>

                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <span class="badge bg-green"><strong>{{bookedTicketsTotal()}}</strong></span>
                                        <h4>{{ trans('em.total') }} {{ trans('em.tickets') }}</h4>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="badge bg-green"><strong>{{ total }} {{currency}}</strong></span>
                                        <h4>{{ trans('em.order') }} {{ trans('em.total') }}</h4>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="badge bg-blue"><strong>{{total > 0 ? (login_user_id == 1 ? 'Direct' : 'PayPal') : 'Free' }} </strong></span>
                                        <h4>{{ trans('em.payment') }} {{ trans('em.method') }}</h4>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        
                        <div class="row mt-2">
                            <div class="col-xs-12">
                                <button :class="{ 'disabled' : disable }"  :disabled="disable" type="button" class="btn lgx-btn lgx-btn-red btn-block" @click="bookTickets()"><i class="fas fa-cash-register"></i> {{ trans('em.checkout') }}</button>
                            </div>
                        </div>
                        
                    </form>

                </div>
            </div>
        </div>

    </div>
</template>

<script>

import { mapState, mapMutations} from 'vuex';
import mixinsFilters from '../../mixins.js';
var moment = require('moment');

export default {
    
    mixins:[
        mixinsFilters
    ],

    props : [
        'tickets', 'customers', 'max_ticket_qty', 'event', 'currency', 'login_user_id'
    ],
    data() {
        return {
            openModal           : false,
            ticket_info         : false,    
            moment              : moment,
            quantity            : [1],
            price               : null,
            total_price         : [],
            customer_id         : 0,
            total               : 0,   
            disable             : false, 
        }
    },

     computed: {
        // get global variables
        ...mapState( ['booking_date', 'start_time', 'end_time', 'booking_end_date']),
    },
   
    methods: {
        // update global variables
        ...mapMutations(['add', 'update']),

        // reset form and close modal
        close: function () {    
            this.price          = null;
            this.quantity       = [];
            this.total_price    = [];
            
            this.add({
                booking_date        : null,
                booking_end_date    : null,
                start_time          : null,
                end_time            : null,
            })
            
            
            this.openModal      = false;
        },

        bookTickets(){
            // prepare form data for post request
            this.disable = true;

            let post_url = route('eventmie.bookings_book_tickets');
            
            let post_data = new FormData(this.$refs.form);
            let post_progress = {
                onUploadProgress: uploadEvent => {
                    // console.log('Upload progress: '+ Math.round(uploadEvent.loaded / uploadEvent.total * 100)+ '%');
                }
            };

            // axios post request
            axios.post(post_url, post_data, post_progress)
            .then(res => {
            
                if(res.data.status && res.data.message != ''  && typeof(res.data.message) != "undefined") {
                    // close popup
                    this.showNotification('success', res.data.message);
                    this.close();
                    
                }
                else if(!res.data.status && res.data.message != '' && res.data.url != ''  && typeof(res.data.url) != "undefined"){
                    // close popup
                    this.close();
                    this.showNotification('error', res.data.message);
                    setTimeout(() => {
                        window.location.href = res.data.url;    
                    }, 1000);
                }

                if(res.data.url != '' && res.data.status  && typeof(res.data.url) != "undefined") {
                    setTimeout(() => {
                        window.location.href = res.data.url;    
                    }, 1000);
                }

            })
            .catch(error => {
                this.disable = false;
                let serrors = Vue.helpers.axiosErrors(error);
                if (serrors.length) {
                    
                    this.serverValidate(serrors);
                    
                }
            });
        },
        

        // validate data on form submit
        validateForm(e) {
            this.$validator.validateAll().then((result) => {
                if (result) {
                    this.disable = true;
                    this.formSubmit(e);
                }
                else{
                    this.disable = false;
                }
            });
        },

        // show server validation errors
        serverValidate(serrors) {
            this.disable = false;
            this.$validator.validateAll().then((result) => {
                this.$validator.errors.add(serrors);
            });
        },

        
        // count total tax
        countTax(price, tax, rate_type, net_price, quantity) {
            
            price           = parseFloat(price);
            tax             = parseFloat(tax);
            var total_tax   = parseFloat(quantity * tax);
            
            
                // in case of percentage
                if(rate_type == 'percent')
                {
                    if(isNaN((price * total_tax)/100))
                        return 0;
                    
                    total_tax = parseFloat((price*total_tax)/100); 

                    if(net_price == 'excluding')
                        return total_tax+' '+this.currency+' ('+tax+'%'+' Exclusive)';
                    else
                        return total_tax+' '+this.currency+' ('+tax+'%'+' Inclusive)';
                }    

                // for fixed tax
                if(rate_type == 'fixed')
                {
                    if(net_price == 'excluding')
                        return total_tax+' '+this.currency+' ('+tax+' '+this.currency+' Exclusive)';
                    else
                        return total_tax+' '+this.currency+' ('+tax+' '+this.currency+' Inclusive)';
                }        
                
            return 0;        
        },

        // count total price
        totalPrice(){
            if(this.quantity != null || this.quantity.length > 0)
            {
                let amount;
                let tax;
                this.quantity.forEach(function(value, key) {
                    this.total_price[key]   = [];
                    
                    amount                  = parseFloat(value * this.tickets[key].price);

                    // when have no taxes set set total_price with actual ammount without taxes
                    if(Object.keys(this.total_price).length > 0)
                    {
                        this.total_price.forEach(function(v, k){

                            if(Object.keys(v).length <= 0);
                                this.total_price[key] = amount;
                                
                        }.bind(this))
                    }

                    // in case of percentage
                    if(this.tickets[key].rate_type == 'percent')
                    {
                        // in case of including
                        if(this.tickets[key].net_price == 'including')
                        {
                            tax                     =  parseFloat(100) - parseFloat(this.tickets[key].rate);       
                            this.total_price[key]   =  amount;
                        }
                                
                        // in case of excluding
                        if(this.tickets[key].net_price == 'excluding')
                        {
                            tax                     = parseFloat(this.tickets[key].rate) + parseFloat(100);
                            this.total_price[key]   = isNaN((amount*tax)/100) ? amount : parseFloat((amount*tax)/100);
                        }
                    }

                    // // in case of percentage
                    if(this.tickets[key].rate_type == 'fixed')
                    {
                        tax   = parseFloat(value *this.tickets[key].rate);
                        // // in case of including
                        if(this.tickets[key].net_price == 'including')
                            this.total_price[key]   = amount 
                        
                        // // in case of excluding
                        if(this.tickets[key].net_price == 'excluding')
                            this.total_price[key]   = parseFloat(amount) + parseFloat(tax);

                    }

                    
                }.bind(this));
            }
        },

        updateItem() {
            this.$emit('changeItem');
        },

        setDefaultQuantity() {
            // only set default value once
            var _this   = this;
            var promise = new Promise(function(resolve, reject) { 
                // only set default value once
                if(_this.quantity.length == 1) {
                    _this.tickets.forEach(function(value, key) {
                        if(key == 0)
                            _this.quantity[key] = 1;
                        else
                            _this.quantity[key] = 0;
                            
                    }.bind());
                }
                resolve(true);
            }); 

            promise 
            .then(function(successMessage) { 
                    
                _this.totalPrice();
                _this.orderTotal();
            }, function(errorMessage) { 
                console.log(errorMessage); 
            }); 
        },

        // count prise all booked tickets
        orderTotal() {
            this.total = 0
            if(Object.keys(this.total_price).length > 0)
            {
                this.total_price.forEach(function(value, key){
                    
                    this.total = parseFloat(this.total) + parseFloat(value);
                    
                }.bind(this))

                return this.total;
            }
            return 0;    
        },

        // total booked tickets
        bookedTicketsTotal() {
            let  total = 0
            if(this.quantity.length > 0)
            {
                this.quantity.forEach(function(value, key){
                    total = parseInt(total) + parseInt(value);

                }.bind(this))

                return total;
            }
            return 0;    
        },
    },

    watch: {
        quantity: function () {
            this.totalPrice();
            this.orderTotal();
             
            
        },
        tickets: function() {
            this.setDefaultQuantity();
            this.totalPrice();
            this.orderTotal();
        },
    },

    mounted() {
        this.openModal = true;
        this.setDefaultQuantity();
            
        
    },

    created() {
        
    }
}
</script>