<template>
<div class="row">
    <div class="col-md-12">
        <!-- Button trigger modal -->
        <button type="button" class="lgx-btn" @click="openModal = true" v-if="!edit_sponsor">{{ trans('em.add') }} {{ trans('em.sponsor') }}</button>

        <div class="modal modal-mask" v-if="openModal">
            <div class="modal-dialog modal-container">
                <div class="modal-content lgx-modal-box">
                    <div class="modal-header">
                        <button type="button" class="close" @click="close()"><span aria-hidden="true">&times;</span></button>
                        <h3>{{ trans('em.new') }} {{ trans('em.sponsor') }}</h3>
                    </div>
                    
                    <form ref="form" @submit.prevent="validateForm" method="POST" enctype="multipart/form-data">
                        <input v-if="edit_sponsor" type="hidden" class="form-control lgxname"  name="sponsor_id" v-model="edit_sponsor.id">
                        <input type="hidden" name='organiser_id' v-model="organiser_id">
                        <div class="modal-body">
                            
                            <div class="avatar-upload">
                                <div class="avatar-edit">
                                    <input type="file" name="image" id="image" @change="onFileChange" />
                                    <label for="image"></label>
                                </div>
                                <div class="avatar-preview">
                                    <div id="imagePreview">
                                        <img :src="imageSrc">
                                    </div>
                                </div>
                                <!-- <span v-show="errors.has('image')" class="help text-danger">{{ errors.first('image') }}</span> -->
                            </div>
                            
                            <div class="form-group">
                                <label for="name">{{ trans('em.name') }}</label>
                                <input type="text" class="form-control lgxname" v-model="name" name="name" v-validate="'required'">
                                <span v-show="errors.has('name')" class="help text-danger">{{ errors.first('name') }}</span>
                            </div>

                            <div class="form-group">
                                <label for="website">{{ trans('em.website') }}</label>
                                <input type="text" class="form-control lgxname" v-model="website" name="website" v-validate="'required'">
                                <span v-show="errors.has('website')" class="help text-danger">{{ errors.first('website') }}</span>
                            </div>
                        </div>
                        
                        <div class="modal-footer">
                            <button type="submit" class="btn lgx-btn"><i class="fas fa-sd-card"></i> {{ trans('em.save') }}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
import mixinsFilters from '../../mixins.js';
export default {
    props: [
        'organiser_id', 'organisers', 'edit_sponsor'
    ],

    mixins:[
        mixinsFilters
    ],
    data() {
        return {
            imageSrc: 'https://via.placeholder.com/200x200.jpg',
            openModal: false,
                
            // important!!! declare all form fields
            image: null,
            name: null,
            website: null,
        }
    },

    computed: {
        
    },

    methods: {
        // reset form and close modal
        close: function () {
            this.$refs.form.reset();
            this.openModal = false;
            this.$parent.edit_index = null;
        },
        
        // create data
        // preview file if any
        onFileChange(e) {
            let files = e.target.files || e.dataTransfer.files;
            if (!files.length)
                return;
            this.createImage(files[0]);
        },
        createImage(file) {
            let reader = new FileReader();
            let vm = this;
            reader.onload = (e) => {
                vm.image    = e.target.result;
                vm.imageSrc = e.target.result;
            };
            reader.readAsDataURL(file);
        },

        // validate data on form submit
        validateForm(event) {
            this.$validator.validateAll().then((result) => {
                if (result) {
                    this.formSubmit(event);            
                }
            });
        },

        // show server validation errors
        serverValidate(serrors) {
            this.$validator.validateAll().then((result) => {
                this.$validator.errors.add(serrors);
            });
        },

        // submit form
        formSubmit(event) {

            // prepare form data for post request
            let post_url = route('eventmie.sponsors_store');
            let post_data = new FormData(this.$refs.form);
            let post_progress = {
                onUploadProgress: uploadEvent => {
                    // console.log('Upload progress: '+ Math.round(uploadEvent.loaded / uploadEvent.total * 100)+ '%');
                }
            };

            // axios post request
            axios.post(post_url, post_data, post_progress)
            .then(res => {
                // on success
                // use vuex to update global sponsors array
                
                // fill data to sponsors array
                this.sponsors        = res.data.data;
                
                this.close();

                this.showNotification('success', trans('em.sponsor')+' '+trans('em.saved')+' '+trans('em.successfully'));

                // reload page   
                setTimeout(function() {
                    location.reload(true);
                }, 1000);
            
            })
            .catch(error => {
                let serrors = Vue.helpers.axiosErrors(error);
                if (serrors.length) {
                    this.serverValidate(serrors);
                }
            });
        },

        updateItem() {
            this.$emit('changeItem');
        },
        
        editSponsor(){
            this.imageSrc = '/storage/'+this.edit_sponsor.image;
            this.name     = this.edit_sponsor.name;
            this.website  = this.edit_sponsor.website;
        }
    },

    mounted(){
       if(typeof this.edit_sponsor !== 'undefined') {
            this.openModal = true;
            this.editSponsor();
        }
    }
}
</script>