<!-- parent component-->

<template>
    <div class="container">
        
        <sponsor-component 
            :organiser_id="organiser_id"
            :organisers="organisers"
            @changeItem="getSponsors"
        ></sponsor-component>

        <hr>

        <div class="row">
            <div class="col-md-12 table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="col-xs-3">{{ trans('em.name') }}</th>
                            <th class="col-xs-3">{{ trans('em.website') }}</th>
                            <th class="col-xs-2">{{ trans('em.edit') }}</th>
                            <th class="col-xs-2">{{ trans('em.delete') }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="active"  v-for="(item, index) in sponsors"
                            v-bind:item="item"
                            v-bind:index="index"
                            v-bind:key="item.id" 
                        >
                            <td>{{ item.name }}</td>
                            <td>{{ item.website }}</td>
                            <td> 
                                <button type="button" class="lgx-btn lgx-btn-sm lgx-btn-info" @click="edit_index = index">{{ trans('em.edit') }}</button>
                                <sponsor-component @changeItem="getSponsors" v-if="edit_index == index" :edit_sponsor="item" ></sponsor-component>
                            </td>
                            <td >
                                <button type="button" class="lgx-btn lgx-btn-sm lgx-btn-danger"  @click="deleteSponsor(item.id)">{{ trans('em.delete') }}</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
        </div>
        <div class="row" v-if="sponsors.length > 0">
            <div class="col-md-12 text-center">
                <pagination-component 
                    v-if="pagination.last_page > 1" 
                    :pagination="pagination" 
                    :offset="pagination.total" 
                    :path="'/mysponsors'" 
                    @paginate="getSponsors()"
                >
                </pagination-component>
            </div>
        </div>
    </div>

</template>

<script>

import SponsorComponent from './Sponsor.vue';
import mixinsFilters from '../../mixins.js';
import PaginationComponent from '../../common_components/Pagination';

export default {

    components: {
        PaginationComponent,
        SponsorComponent,
        
    },

    props: [
        'organiser_id', 'organisers', 'page'
    ],

    

    mixins:[
        mixinsFilters
    ],

    data() {
        return {
            sponsors    : [],    
            edit_index  : null,
            
            pagination: {
                'current_page': 1
            },
        }
    },

    computed: {
        current_page() {
            // get page from route
            if(typeof this.page === "undefined")
                return 1;
            return this.page;
            
        },
    },

    methods: {
        getSponsors() {
            axios.post(route('eventmie.sponsors')+'?page='+this.current_page, {
                organiser_id  : this.organiser_id,
            })
            .then(res => {
                // fill data sponsors array
                this.sponsors        = res.data.sponsors.data;
                this.pagination = {
                    'total' : res.data.sponsors.total,
                    'per_page' : res.data.sponsors.per_page,
                    'current_page' : res.data.sponsors.current_page,
                    'last_page' : res.data.sponsors.last_page,
                    'from' : res.data.sponsors.from,
                    'to' : res.data.sponsors.to
                };
            })
            .catch(error => {
                Vue.helpers.axiosErrors(error);
            });
        },
        deleteSponsor(sponsor_id){

            this.showConfirm(trans('em.you_want') + ' ' + trans('em.delete') + ' ' + trans('em.sponsor')).then((res) => {
                if(res) {
                    
                    axios.post(route('eventmie.sponsors_delete'), {
                        sponsor_id : sponsor_id
                    })
                    .then(res => {
                        if(res.data.status) {
                            this.getSponsors();
                            this.showNotification('success', trans('em.sponsor')+' '+trans('em.deleted')+' '+trans('em.successfully'));
                        }
                    })
                    .catch(error => {
                        Vue.helpers.axiosErrors(error);
                    });
                }
            })
        }
    },
    
    mounted() {
        this.getSponsors();
    }
}
</script>