<template>
    <div class="row">
                    
        <div class="col-12 col-sm-6 col-lg-4" 
            v-match-heights="{
                el: ['h5.sub-title'],  // Array of selectors to fix
            }"
            v-for="(event, index) in events" 
            :key="index"
        >
            <div class="lgx-event">
                <a :href="eventSlug(event.slug)" >

                    <!-- simple events means without repetitive who Upcomming-->
                    <div class="lgx-event__tag" 
                        v-if="!event.repetitive && moment().format('YYYY-MM-DD') < convert_date_to_local(event.start_date, 'YYYY-MM-DD') "
                    >
                        <span>{{ trans('em.upcoming') }}</span>
                        <span>{{countDays(moment().format("YYYY-MM-DD"), convert_date_to_local(event.start_date, "YYYY-MM-DD"))-1}} {{ trans('em.days') }}</span>
                    </div>

                    <!-- simple events means without repetitive who today-->
                    <div class="lgx-event__tag" 
                        v-if="!event.repetitive && moment().format('YYYY-MM-DD') == convert_date_to_local(event.start_date, 'YYYY-MM-DD') "
                    >
                        <span>{{ trans('em.event') }}</span>
                        <span>{{ trans('em.today') }}</span>
                    </div>

                     <!-- simple events means without repetitive who ended-->
                    <div class="lgx-event__tag" v-if="!event.repetitive && moment().format('YYYY-MM-DD') > 
                            convert_date_to_local(event.start_date,'YYYY-MM-DD') "
                    >
                        <span>{{ trans('em.event') }}</span>
                        <span>{{ trans('em.ended') }}</span>
                    </div>

                    <!-- repetitive events who Upcoming  -->
                    <div class="lgx-event__tag" v-if="event.repetitive && moment().format('YYYY-MM-DD') < convert_date_to_local(event.start_date, 'YYYY-MM-DD')">
                        <span >{{ trans('em.upcoming') }}</span>
                        <span>{{countDays(moment().format("YYYY-MM-DD"), convert_date_to_local(event.start_date, "YYYY-MM-DD"))-1}} {{ trans('em.days') }}</span>
                    </div>
                    
                    <!-- repetitive events who Started -->
                    <div class="lgx-event__tag" v-if="event.repetitive && moment().format('YYYY-MM-DD') >= convert_date_to_local(event.start_date, 'YYYY-MM-DD')     && moment().format('YYYY-MM-DD') <= convert_date_to_local(event.end_date, 'YYYY-MM-DD')">
                        <span >{{ trans('em.started') }}</span>
                        <span>{{ changeDateFormat(moment(convert_date_to_local(event.start_date, "YYYY-MM-DD"))) }}</span>
                    </div>

                     <!-- repetitive events who Ended -->
                    <div class="lgx-event__tag" v-if="event.repetitive && moment().format('YYYY-MM-DD') > convert_date_to_local(event.end_date, 'YYYY-MM-DD')">
                        <span >{{ trans('em.event') }}</span>
                        <span>{{ trans('em.ended') }}</span>
                    </div>

                    <div class="lgx-event__image">
                        <img :src="'/storage/'+event.thumbnail" alt="">
                    </div>

                    <div class="lgx-event__info">
                        <div class="lgx-event__featured" v-if="event.repetitive">
                            
                            <span v-if="event.repetitive_type == 1">{{ trans('em.repetitive') +' '+ trans('em.daily') }}</span>
                            <span v-if="event.repetitive_type == 2">{{ trans('em.repetitive') +' '+ trans('em.weekly') }}</span>
                            <span v-if="event.repetitive_type == 3">{{ trans('em.repetitive') +' '+ trans('em.monthly') }}</span>
                        </div>

                        <div class="lgx-event__featured-left"
                            v-if="checkFreeTickets(event.tickets)"
                        >
                            <span>{{ trans('em.free') }}</span>
                        </div>

                        <div class="meta-wrapper">
                            
                            <span> {{changeDateFormat(convert_date_to_local(event.start_date), "YYYY-MM-DD")}}</span> 
                            <span>{{ changeDateFormat(convert_date_to_local(event.end_date), "YYYY-MM-DD")}} </span>
                            <span>{{event.city}}</span>
                        </div>
                        
                        <h3 class="title">{{ event.title }}</h3>
                        <h5 class="sub-title">{{ event.venue}}</h5>

                        
                    </div>

                    <div class="lgx-event__footer">
                        <div 
                            v-for="(ticket, index1) in event.tickets" 
                            :key="index1" 
                            v-if="index1 <= 1"
                        >
                            {{ticket.title}} : {{ticket.price <= 0 ? 'Free' : ticket.price+' '+currency }}
                        </div>
                    </div>

                    <div class="lgx-event__category">
                        <span>{{ event.category_name }}</span>
                    </div>
                </a>
            </div>
        </div>
        
    </div>
</template>

<script>
import VueMatchHeights from 'vue-match-heights';
 
Vue.use(VueMatchHeights);

import mixinsFilters from '../mixins.js';
var moment = require('moment');
export default {
    
    props: ['events', 'currency'],

    mixins:[
        mixinsFilters
    ],

    data() {
        return {
            moment : moment,
        }
    },

    methods:{
        
        // check free tickets of events
        checkFreeTickets(event_tickets = []){
            let free = false;
            event_tickets.forEach(function(value, key) {
                if(parseFloat(value.price) <= parseFloat(0))
                {
                    free = true;
                }
            });    
            return free;
        },

        
        // return route with event slug
        eventSlug: function eventSlug(slug) {
            return route('eventmie.events_show', [slug]);
        }

  
    },

    mounted(){
    }

}
</script>

<style>

</style>
