<template>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a class="lgx-btn lgx-btn-red" :href="createEvent()"><span><i class="fas fa-calendar-plus"></i> {{ trans('em.create') }} {{ trans('em.event') }}</span></a>  
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-12 table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>{{ trans('em.event') }}</th>
                            <th>{{ trans('em.start') }} {{ trans('em.date') }}</th>
                            <th>{{ trans('em.end') }} {{ trans('em.date') }}</th>
                            <th>{{ trans('em.start') }} {{ trans('em.time') }}</th>
                            <th>{{ trans('em.end') }} {{ trans('em.time') }}</th>
                            <th>{{ trans('em.repetitive') }}</th>
                            <th>{{ trans('em.edit') }}</th>
                            <th>{{ trans('em.delete') }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(event, index) in events" :key="index" >
                            <td><a :href="eventSlug(event.slug)">{{ event.title }}</a></td>
                            <td>{{ convert_date_to_local(event.start_date) }}</td>
                            <td>{{ convert_date_to_local(event.end_date) }}</td>
                            <td>{{ convert_time_to_local(event.start_date, event.start_time, 'hh:mm:ss A') }}</td>
                            <td>{{ convert_time_to_local(event.end_date, event.end_time, 'hh:mm:ss A') }}</td>
                            <td>{{ event.repetitive ? trans('em.yes') : trans('em.no') }}</td>
                            <td >
                                <a class="lgx-btn lgx-btn-sm" :href="eventEdit(event.slug)">{{ trans('em.edit') }}</a>
                            </td>    
                            <td>
                                <button type="button" class="lgx-btn lgx-btn-sm lgx-btn-danger" 
                                    @click="DisableEvent(event.id, event.status)"
                                    v-if="event.status"
                                >{{ trans('em.disable') }} {{ trans('em.event') }}
                                </button>

                                 <button type="button" class="lgx-btn lgx-btn-sm lgx-btn-success"
                                    v-if="!event.status"
                                    @click="DisableEvent(event.id,  event.status)"
                                 >{{ trans('em.enable') }} {{ trans('em.event') }}
                                </button>
                            </td>
                        </tr>
                    
                    </tbody>
                </table>
            </div>
        </div>

        <hr>
        <div class="row" v-if="events.length > 0">
            <div class="col-md-12 text-center">
                <pagination-component v-if="pagination.last_page > 1" :pagination="pagination" :offset="pagination.total" :path="'myevents'" @paginate="getMyEvents()"></pagination-component>
            </div>     
        </div>
    </div>
             
</template>

<script>

import PaginationComponent from '../../common_components/Pagination'
import EventListing from '../../common_components/EventListing';

import mixinsFilters from '../../mixins.js';


var moment = require('moment');

import { VueRouter } from 'vue-router';

export default {
    props: [
        // pagination query string
        'page',
        'category'
    ],

    components: {
        PaginationComponent,
        EventListing, 
    },
    
    mixins:[
        mixinsFilters
    ],

    data() {
        return {
            events           : [],
            pagination: {
                'current_page': 1
            },
            moment           : moment,
        }
    },
    
    computed: {
        current_page() {
            // get page from route
            if(typeof this.page === "undefined")
                return 1;
            
            return this.page;
        },
    },
    methods: {
        
        // get all events
        getMyEvents() {
            axios.get(route('eventmie.myevents')+'?page='+this.current_page)
            .then(res => {
                
                this.events  = res.data.myevents.data;

                this.pagination = {
                    'total' : res.data.myevents.total,
                    'per_page' : res.data.myevents.per_page,
                    'current_page' : res.data.myevents.current_page,
                    'last_page' : res.data.myevents.last_page,
                    'from' : res.data.myevents.from,
                    'to' : res.data.myevents.to
                };
            })
            .catch(error => {
                
            });
        },

        // edit myevents
        eventEdit(event_id) {
            return route('eventmie.myevents_form', {id: event_id});
        },

        // create newevents
        createEvent() {
            return route('eventmie.myevents_form');
        },

        // disable events
        DisableEvent(event_id, event_status) {
            let msg = trans('em.you_want') + ' ' + trans('em.enable') + ' ' + trans('em.event');
            if(event_status > 0)
                msg = trans('em.you_want') + ' ' + trans('em.disable') + ' ' + trans('em.event');
            
            this.showConfirm(msg).then((res) => {
                if(res) {
                   axios.post(route('eventmie.myevents_disable'),{
                        event_id : event_id,
                    })
                    .then(res => {
                        if(res.data.status)
                        {
                            msg = trans('em.event')+' '+trans('em.enabled')+' '+trans('em.successfully');
                            if(event_status > 0)
                                msg = trans('em.event')+' '+trans('em.disabled')+' '+trans('em.successfully');
                            this.showNotification('success', msg);
                            this.getMyEvents();
                        }                
                    })
                    .catch(error => {});
                }
            })
            
        },

        // return route with event slug
        eventSlug(slug){
            return route('eventmie.events_show',[slug]);
        },
    },
    mounted() {
        this.getMyEvents();
    }
}
</script>
<style>

</style>