<template>
    <div>
        <!-- Button trigger modal -->
        <button type="button" class="lgx-btn lgx-btn-sm" @click="openModal = true" v-if="!edit_ticket">{{ trans('em.create') }} {{ trans('em.ticket') }}</button>

        <div class="modal modal-mask" v-if="openModal">
            <div class="modal-dialog modal-container">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" @click="close()"><span aria-hidden="true">&times;</span></button>
                        <h3 class="title">{{ (edit_ticket ? trans('em.update') : trans('em.create')) }} {{ trans('em.ticket') }}</h3>
                    </div>
                    
                    <form ref="form" @submit.prevent="validateForm" method="POST" enctype="multipart/form-data">
                        <input v-if="edit_ticket" type="hidden" class="form-control lgxname"  name="ticket_id" v-model="edit_ticket.id">
                        <input type="hidden" class="form-control lgxname"  name="event_id" v-model="event_id">
                        <input type="hidden" class="form-control lgxname"  name="organiser_id" v-model="organiser_id">

                        <div class="modal-body">
                            <div class="form-group">
                                <label for="title">{{ trans('em.title') }}</label>
                                <input type="text" class="form-control lgxname"  name="title"  v-model="title" v-validate="'required'">
                                <span v-show="errors.has('title')" class="help text-danger">{{ errors.first('title') }}</span>
                            </div>
                            <div class="form-group">
                                <label for="price">{{ trans('em.price') }} ({{ currency }})</label>
                                <input type="text" class="form-control lgxname"  name="price" v-model="price" v-validate="'required'">
                                <span v-show="errors.has('price')" class="help text-danger">{{ errors.first('price') }}</span>
                            </div>

                             <div class="form-group">
                                <label for="quantity">{{ trans('em.max') }} {{ trans('em.bookings') }} ({{ trans('em.quantity') }})</label>
                                <input type="text" class="form-control lgxname"  name="quantity" v-model="quantity" v-validate="'required'">
                                <span v-show="errors.has('quantity')" class="help text-danger">{{ errors.first('quantity') }}</span>
                            </div>

                            <div class="form-group">
                                <label for="description">{{ trans('em.description') }}</label>
                                <textarea name="description" class="form-control lgxname" rows="3" v-model="description" v-validate="'required'"></textarea>
                                <span v-show="errors.has('description')" class="help text-danger">{{ errors.first('description') }}</span>
                            </div>

                            <div class="form-group">
                                <label>{{ trans('em.tax') }}</label>
                                <select name="tax_id" class="form-control" v-validate="'required'" v-model="tax_id">
                                    <option  value="0">-- {{ trans('em.select') }} {{ trans('em.tax') }} --</option>
                                    <option  v-for="(tax, index) in taxes" :key = "index" :value="tax.id">{{tax.title}}</option>
                                </select>
                                <span v-show="errors.has('tax_id')" class="help text-danger">{{ errors.first('tax_id') }}</span>    
                            </div>

                        </div>
                        
                        <div class="modal-footer">
                            <button type="submit" class="btn lgx-btn btn-block"><i class="fas fa-sd-card"></i> {{ trans('em.save') }}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
    </div>
</template>

<script>

import { mapState, mapMutations} from 'vuex';
import mixinsFilters from '../../mixins.js';

export default {
    props: ["edit_ticket", 'taxes', 'currency'],

    mixins:[
        mixinsFilters
    ],

    data() {
        return {
            imageSrc: 'https://via.placeholder.com/200x200.jpg',
            openModal: false,
            
            title       : null,
            price       : null,
            quantity    : null,
            description : null,
            tax_id      : 0,
            
        }
    },

    computed: {
        // get global variables
        ...mapState( ['tickets', 'event_id', 'organiser_id']),
    },
    methods: {
        // update global variables
        ...mapMutations(['add', 'update']),

        // reset form and close modal
        close: function () {    
            this.$parent.edit_index  = null;
            this.openModal           = false;
        },

        editTicket() {
            this.title        = this.edit_ticket.title;
            this.price        = this.edit_ticket.price;
            this.quantity     = this.edit_ticket.quantity;
            this.description  = this.edit_ticket.description;
            this.tax_id       = this.edit_ticket.tax_id ? this.edit_ticket.tax_id : 0;
        },
        
        // validate data on form submit
        validateForm(event) {
            this.$validator.validateAll().then((result) => {
                if (result) {
                    this.formSubmit(event);            
                }
            });
        },

        // show server validation errors
        serverValidate(serrors) {
            this.$validator.validateAll().then((result) => {
                this.$validator.errors.add(serrors);
            });
        },

        // submit form
        formSubmit(event) {
            // prepare form data for post request
            let post_url = route('eventmie.tickets_store');
            let post_data = new FormData(this.$refs.form);
            let post_progress = {
                onUploadProgress: uploadEvent => {
                    // console.log('Upload progress: '+ Math.round(uploadEvent.loaded / uploadEvent.total * 100)+ '%');
                }
            };

            // axios post request
            axios.post(post_url, post_data, post_progress)
            .then(res => {
                // on success
                // use vuex to update global sponsors array
                if(res.data.status)
                {
                    this.showNotification('success', trans('em.ticket')+' '+trans('em.saved')+' '+trans('em.successfully'));
                    this.close();
                    // reload page   
                    setTimeout(function() {
                        location.reload(true);
                    }, 1000);
                }    

            })
            .catch(error => {
                let serrors = Vue.helpers.axiosErrors(error);
                if (serrors.length) {
                    this.serverValidate(serrors);
                }
            });
        },

        updateItem() {
            this.$emit('changeItem');
        },

     
    },
    mounted() {
        
        if(this.edit_ticket) {
            this.editTicket();
            this.openModal = true;
        }
    },
}
</script>