<template>
    <div class="tab-pane active">
        <div class="panel-group">
            <div class="panel panel-default lgx-panel">
                <div class="panel-heading">
                    <form ref="form" @submit.prevent="validateForm" method="POST" enctype="multipart/form-data" class="lgx-contactform">
                        <input type="hidden" name="event_id" v-model="event_id">

                        <div class="form-group" v-if="organisers.length > 0">
                            <!-- it is display in edit case and when organiser_id is   -->
                            <label  v-if="organiser_id">{{ trans('em.organiser') }}</label>
                            <select  v-if="organiser_id" name="organiser_id" class="form-control" v-validate="'required'" v-model="organiser_ids" >
                                <option  v-if="organiser_ids == organiser.id"  v-for="(organiser, index) in organisers" :key = "index" :value="organiser.id">{{ organiser.name }}</option>
                            </select>
                            
                            <!-- it is display in create case and when organiser_id is null -->
                            <label v-if="!organiser_id">{{ trans('em.select') }} {{ trans('em.organiser') }}</label>
                            <select  v-if="!organiser_id" name="organiser_id" class="form-control" v-validate="'required'"  >
                                <option selected value="0">-- {{ trans('em.organiser') }} --</option>
                                <option v-for="(organiser, index) in organisers" :key = "index" :value="organiser.id">{{ organiser.name }}</option>
                            </select>
                        
                            <span v-show="errors.has('organiser_id')" class="help text-danger">{{ errors.first('organiser_id') }}</span>
                        </div>

                        <div class="form-group">
                            <label>{{ trans('em.select') }} {{ trans('em.category') }}</label>
                            <select name="category_id" class="form-control" v-model="category_id" v-validate="'required|decimal|is_not:0'">
                                <option value="0">-- {{ trans('em.category') }} --</option>
                                <option v-for="(category, index) in categories" :key = "index" :value="category.id">{{category.name}}</option>
                            </select>
                            <span v-show="errors.has('category_id')" class="help text-danger">{{ errors.first('category_id') }}</span>    
                        </div>
                        
                        <div class="form-group">
                            <label>{{ trans('em.event') }} {{ trans('em.name') }}</label>
                            <input type="text" class="form-control"  name="title" v-model="title" v-validate="'required'">
                            <span v-show="errors.has('title')" class="help text-danger">{{ errors.first('title') }}</span>
                        </div>

                        
                        <div class="form-group">
                            <label>{{ trans('em.event') }} {{ trans('em.url') }}</label>
                            <input type="hidden" name="slug" v-model="slug" v-validate="'required'">
                            <p class="help">{{ slugUrl() }}</p>
                        </div>

                        <div class="form-group">
                            <label>{{ trans('em.description') }}</label>
                            <textarea class="form-control"  rows="3" name="description" :value="description" placeholder="What is your event about?" v-validate="'required'" style="display:none;"></textarea>
                            <ckeditor :editor="editor" v-model="description" :config="editorConfig"></ckeditor>
                            <span v-show="errors.has('description')" class="help text-danger">{{ errors.first('description') }}</span>
                        </div>

                        <div class="form-group">
                            <label>{{ trans('em.more') }} {{ trans('em.info') }} ( {{ trans('em.why_attend') }} )</label>
                            <textarea class="form-control" rows="3" name="faq" :value="faq" placeholder="Add in any extra details such as refreshments, parking spaces etc" style="display:none;"></textarea>
                            <ckeditor :editor="editor" v-model="faq" id="faq" :config="editorConfig" @ready="editEvent" ></ckeditor>
                            <span v-show="errors.has('faq')" class="help text-danger">{{ errors.first('faq') }}</span>
                        </div>

                        <div class="form-group" v-if="is_admin">
                            <input type="checkbox" class="custom-control-input" :value=1 name="featured" v-model="featured" >
                            <label class="custom-control-label" >{{ trans('em.event') }} {{ trans('em.featured') }}</label>
                        </div>
                        
                        <button type="submit" class="btn lgx-btn btn-block"><i class="fas fa-sd-card"></i> {{ trans('em.save') }}</button>
                    </form>                
                    
                </div>
            </div>
        </div>

        
        
    </div>
</template>

<script>
import { mapState, mapMutations} from 'vuex';

import CKEditor from '@ckeditor/ckeditor5-vue';
import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
import mixinsFilters from '../../mixins.js';


export default {
    
    props: [
        'organisers', 'is_admin'
    ],
    mixins:[
        mixinsFilters
    ],

    components: {
        ckeditor: CKEditor.component
        
    },

    data() {
        return {

            title           : null,
            organiser_ids   : null,
            categories      : [],
            description     : '',   // for description
            faq             : '',   // for faq
            category_id     : 0,
            editor      : ClassicEditor,
            editorConfig: {
                // The configuration of the editor.
                toolbar: [ 'heading', '|', 'bold', 'italic', 'link', 'bulletedList', 'numberedList', 'blockQuote' ],
            },
            featured       : 0,
            
        }
    },

    computed: {
        // get global variables
        ...mapState( ['event_id', 'organiser_id', 'event']),
        
        slug: function() {
            if(this.title != null)
            {
                var slug = this.sanitizeTitle(this.title);
                return slug;
            }
        }
    },

    methods: {

        // update global variables
        ...mapMutations(['add', 'update']),

        editEvent( editor ) {
            
            if(Object.keys(this.event).length > 0)
            {
                this.title          = this.event.title;
                this.description    = this.event.description;
                this.faq            = this.event.faq;
                this.category_id    = this.event.category_id;
                this.organiser_ids  = this.organiser_id ;
                this.featured       = this.event.featured; 
            }    
        },

        // validate data on form submit
        validateForm(event) {
            this.$validator.validateAll().then((result) => {
                if (result) {
                    this.formSubmit(event);            
                }
            });
        },

        // show server validation errors
        serverValidate(serrors) {
            this.$validator.validateAll().then((result) => {
                this.$validator.errors.add(serrors);
            });
        },

        // submit form
        formSubmit(event) {
            // prepare form data for post request
            let post_url = route('eventmie.myevents_store');
            let post_data = new FormData(this.$refs.form);
            let post_progress = {
                onUploadProgress: uploadEvent => {
                    // console.log('Upload progress: '+ Math.round(uploadEvent.loaded / uploadEvent.total * 100)+ '%');
                }
            };

            // axios post request
            axios.post(post_url, post_data, post_progress)
            .then(res => {
                // on success
                // use vuex to update global sponsors array
                if(res.data.status)
                {
                    // fill data to global sponsors array
                    this.add({  
                        event_id        : res.data.id,
                        organiser_id    : res.data.organiser_id , 
                    });
                    this.showNotification('success', trans('em.event')+' '+trans('em.saved')+' '+trans('em.successfully'));
                    
                    if(res.data.slug)
                    {   
                        //create case redirect with slug
                        setTimeout(function() {
                            window.location = route('eventmie.myevents_form',[res.data.slug]);
                        }, 1000);
                    }
                }    

            })
            .catch(error => {
                let serrors = Vue.helpers.axiosErrors(error);
                if (serrors.length) {
                    this.serverValidate(serrors);
                }
            });
        },

        getCategories(){
            let post_url = route('eventmie.myevents_categories');
            
            // axios post request
            axios.get(post_url)
            .then(res => {
                
                if(res.data.status)
                {
                    this.categories = res.data.categories;
                }
                
            })
            .catch(error => {
                let serrors = Vue.helpers.axiosErrors(error);
                if (serrors.length) {
                    this.serverValidate(serrors);
                }
            });
        },

        // slug route
        slugUrl(){
            if(this.slug != null)
                return route('eventmie.events_index').url()+'/'+this.slug;

            return '';
        },

        // get myevent
       
    },

    mounted(){
        
        if(this.categories.length == 0)
            this.getCategories();
        
        if(this.event_id)
        {
            var $this = this;
            
            this.getMyEvent().then(function (response){
                console.log(response);
                $this.editEvent();  
            });
            
        }
        
    },

    
}
</script>