<template>
    <div class="tab-pane active">
        <div class="panel-group">
            <div class="panel panel-default lgx-panel">
                <div class="panel-heading">
        
                    <form ref="form" @submit.prevent="validateForm" method="POST" enctype="multipart/form-data" class="lgx-contactform">

                        <div class="form-group">
                            <label>{{ trans('em.event') }} {{ trans('em.speakers') }}</label>
                            <textarea class="form-control"  rows="3" name="speakers" :value="speakers" placeholder="What is your event about?" style="display:none;"></textarea>
                            <ckeditor :editor="editor" v-model="tmp_speakers_ids" :config="editorConfig"></ckeditor>
                            
                        </div> 

                        
                        <button type="submit" class="btn lgx-btn btn-block"><i class="fas fa-sd-card"></i> {{ trans('em.save') }}</button>
                        <button type="button" class="btn lgx-btn btn-block"
                            :disabled="Object.keys(this.is_publishable).length != 6 ? true : false" 
                            :class="{ 'lgx-btn-danger': event.publish, 'lgx-btn-success': !event.publish }"
                            @click="publishEvent()"
                        >
                            <i v-if="!event.publish" class="fas fa-eye"></i> 
                            <i v-if="event.publish" class="fas fa-eye-slash"></i> 
                            {{ event.publish == 1 ? trans('em.unpublish') : trans('em.publish')}}
                        </button>
                    </form>
                
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapState, mapMutations} from 'vuex';
import mixinsFilters from '../../mixins.js';
import Multiselect from 'vue-multiselect';

export default {

    props : [
        'organisers'
    ],

    mixins:[
        mixinsFilters
    ],

    components: {
        Multiselect,
    },

    data() {
        return {
            speakers_ids         : [],
            speakers_options     : [],

            sponsors_ids         : [],
            sponsors_options     : [],

            tmp_sponsors_ids     : [],
            tmp_speakers_ids     : [],

            selected_speakers    : [],
            selected_sponsors    : [],

            is_publishable       : [],

        }
    },

    computed: {
        ...mapState( ['speakers', 'sponsors', 'event_id', 'organiser_id', 'event_step', 'event']),
    },

    methods: {
        ...mapMutations(['add', 'update']),

           // validate data on form submit
        validateForm(event) {
            this.$validator.validateAll().then((result) => {
                if (result) {
                    this.formSubmit(event);            
                }
            });
        },

        // show server validation errors
        serverValidate(serrors) {
            this.$validator.validateAll().then((result) => {
                this.$validator.errors.add(serrors);
            });
        },

        // submit form
        formSubmit(event) {
            // prepare form data for post request
            let post_url    = route('eventmie.myevents_store_sponsors_speakers');
            
            let post_data   = {
                'sponsors_ids' : this.sponsors_ids,
                'speakers_ids' : this.speakers_ids,
                'event_id'     : this.event_id,
                'organiser_id' : this.organiser_id
            };
            let post_progress = {
                onUploadProgress: uploadEvent => {
                    // console.log('Upload progress: '+ Math.round(uploadEvent.loaded / uploadEvent.total * 100)+ '%');
                }
            };

            // axios post request
            axios.post(post_url, post_data, post_progress)
            .then(res => {

                if(res.data.status)
                {
                    this.showNotification('success', trans('em.event')+' '+trans('em.saved')+' '+trans('em.successfully'));
                    // reload page   
                    setTimeout(function() {
                        location.reload(true);
                    }, 1000);
                }
            })
            .catch(error => {
                let serrors = Vue.helpers.axiosErrors(error);
                if (serrors.length) {
                    this.serverValidate(serrors);
                }
            });
        },

        // get speakers for organiser who added by admin only when admin will be login
        getSpeakers() {
            
            axios.post(route('eventmie.speakers'),{
               organiser_id : this.organiser_id, 
            })
            .then(res => {
                // fill data to global sponsors array
                this.add({  
                    speakers        : res.data.speakers.data,
                });
                // set mutiple speaker for multiselect list
                if(this.speakers.length > 0)
                {
                    this.speakers.forEach(function(v, key) {
                        this.speakers_options.push({value : v.id, text : v.fullname });
                    }.bind(this));
                      
                }    
            })
            .catch(error => {
                Vue.helpers.axiosErrors(error);
            });
        },

        // get sponsors for organiser who added by admin only when admin will be login
        getSponsors() {
            axios.post(route('eventmie.sponsors'),{
                organiser_id  : this.organiser_id,
            })
            .then(res => {
                // fill data to global sponsors array
                this.add({  
                    sponsors        : res.data.sponsors.data,
                });

                // set mutiple sponsors for multiselect list
                if(this.sponsors.length > 0)
                {
                    this.sponsors.forEach(function(v, key) {
                        this.sponsors_options.push({value : v.id, text : v.name });
                    }.bind(this));
                    
                }    
            })
            .catch(error => {
                Vue.helpers.axiosErrors(error);
            });
        },

        // get selected speakers in case of editing
        getSelectedSpeakers() {
            let $this = this;
            axios.post(route('eventmie.selected_speakers'),{
                event_id      : this.event_id,
                organiser_id  : this.organiser_id,
            })
            .then(res => {
                // fill data to global sponsors array
                this.selected_speakers = res.data.selected_event_speakers 

                
                // set mutiple sponsors for multiselect list
                if(this.selected_speakers.length > 0)
                {
                    this.tmp_speakers_ids = []; 
                    this.selected_speakers.forEach(function (v, key) {
                        this.tmp_speakers_ids.push({value : v.speaker_id, text : v.speaker_name });
                    }.bind(this));
                }    
                else
                {
                    // pre select
                    if(this.speakers.length > 0)
                        this.tmp_speakers_ids.push({value :this.speakers[0].id, text: this.speakers[0].fullname});   
                }
            })
            .catch(error => {
                Vue.helpers.axiosErrors(error);
            });
        },

        // get selected sponsors in case of editing
        getSelectedSponsors() {
            axios.post(route('eventmie.selected_sponsors'),{
                event_id      : this.event_id,
                organiser_id  : this.organiser_id,
            })
            .then(res => {
                // fill data to global sponsors array
                this.selected_sponsors = res.data.selected_event_sponsors 

                // set mutiple sponsors for multiselect list
                if(this.selected_sponsors.length > 0)
                {
                    this.selected_sponsors.forEach(function (v, key) {
                        this.tmp_sponsors_ids.push({value : v.sponsor_id, text : v.sponsor_name });
                    }.bind(this));
                }    
            })
            .catch(error => {
                Vue.helpers.axiosErrors(error);
            });
        },

        // update sponsros and speaker for submit

        updateSponsorsSpeakers(){
            
            this.sponsors_ids = '';
            this.speakers_ids = '';
            // sponsors
            if(this.tmp_sponsors_ids.length > 0)
            {
                var count = this.tmp_sponsors_ids.length;
                this.tmp_sponsors_ids.forEach(function (value, key) {
                    this.sponsors_ids += value.value;
                    // add comma except last key
                    if(key < (count-1) )
                        this.sponsors_ids += ',';
                }.bind(this));
                
            }

            //speakers
            if(this.tmp_speakers_ids.length > 0)
            {
                var count = this.tmp_speakers_ids.length;
                this.tmp_speakers_ids.forEach(function (value, key) {
                    this.speakers_ids += value.value;

                    // add comma except last key
                    if(key < (count-1) )
                        this.speakers_ids += ',';
                }.bind(this));
            }
            
        },

        // publish event
        publishEvent(){
            axios.post(route('eventmie.publish_myevent'),{
                event_id        : this.event_id,
                organiser_id    : this.organiser_id,
            })
            .then(res => {
                if(res.data.status)
                {
                    if(this.event.publish == 1)
                        this.showNotification('success', trans('em.event')+' '+trans('em.unpublished')+' '+trans('em.successfully'));
                    else
                        this.showNotification('success', trans('em.event')+' '+trans('em.published')+' '+trans('em.successfully'));
                    
                    // reload page   
                    setTimeout(function() {
                        location.reload(true);
                    }, 1000);
                }
            })
            .catch(error => {
                Vue.helpers.axiosErrors(error);
            });
        }

    },
    
    watch: {
        tmp_sponsors_ids : function() {
            this.updateSponsorsSpeakers();
        },
        
        tmp_speakers_ids : function() {
            this.updateSponsorsSpeakers();
        },
    },

    mounted(){
      // if user have no event_id then redirect to details page
        // if user have no event_id then redirect to details page
        let event_step  = this.eventStep();
        
        if(event_step)
        {
            var $this = this;
            this.getMyEvent().then(function (response){
                $this.getSpeakers();
                $this.getSponsors();

                $this.getSelectedSponsors();
                $this.getSelectedSpeakers();  
                $this.is_publishable = $this.event.is_publishable ? JSON.parse($this.event.is_publishable) : [] ; 
            });
            
        }
        
    }

}
</script>