<template>
    <div class="row">
        <div class="col-md-12">
        
            <!-- Button trigger modal -->
            <button type="button" class="lgx-btn" @click="openModal = true" v-if="!edit_speaker">{{ trans('em.add') }} {{ trans('em.speaker') }}</button>

            <div class="modal modal-mask" v-if="openModal">
                <div class="modal-dialog modal-container">
                    <div class="modal-content lgx-modal-box">
                        <div class="modal-header">
                            <button type="button" class="close" @click="close()"><span aria-hidden="true">&times;</span></button>
                            <h3>{{ trans('em.new') }} {{ trans('em.speaker') }}</h3>
                        </div>
                        
                        <form ref="form" @submit.prevent="validateForm" method="POST" enctype="multipart/form-data">
                            <input v-if="edit_speaker" type="hidden" class="form-control lgxname"  name="speaker_id" v-model="edit_speaker.id">
                            <input type="hidden" class="form-control lgxname"  name="organiser_id" v-model="organiser_id">
                            <div class="modal-body">
                                
                                <div class="avatar-upload">
                                    <div class="avatar-edit">
                                        <input type="file" name="image" id="image" @change="onFileChange"/>
                                        <label for="image"></label>
                                    </div>
                                    <div class="avatar-preview">
                                        <div id="imagePreview">
                                            <img :src="imageSrc">
                                        </div>
                                    </div>
                                    <span v-show="errors.has('image')" class="help text-danger">{{ errors.first('image') }}</span>
                                </div>
                                
                                <div class="form-group">
                                    <label for="name">{{ trans('em.name') }}</label>
                                    <input type="text" class="form-control lgxname" v-model="fullname" name="fullname" v-validate="'required'">
                                    <span v-show="errors.has('fullname')" class="help text-danger">{{ errors.first('fullname') }}</span>
                                </div>

                                <div class="form-group">
                                    <label for="designation">{{ trans('em.designation') }}</label>
                                    <input type="text" class="form-control lgxname" v-model="designation" name="designation" v-validate="'required'">
                                    <span v-show="errors.has('designation')" class="help text-danger">{{ errors.first('designation') }}</span>
                                </div>
                                
                                <div class="form-group">
                                    <label for="about">{{ trans('em.about') }}</label>
                                    <textarea class="form-control"  rows="3" name="about" :value="editorData" style="display:none;"></textarea>
                                    <ckeditor :editor="editor" v-model="editorData" :config="editorConfig" ></ckeditor>
                                    <span v-show="errors.has('about')" class="help text-danger">{{ errors.first('about') }}</span>
                                </div>

                                <div class="form-group">
                                    <label for="phone">{{ trans('em.phone') }}</label>
                                    <input type="text" class="form-control lgxname" v-model="phone" name="phone" >
                                    <span v-show="errors.has('phone')" class="help text-danger">{{ errors.first('phone') }}</span>
                                </div>

                                <div class="form-group">
                                    <label for="email">{{ trans('em.email') }}</label>
                                    <input type="text" class="form-control lgxname" v-model="email" name="email">
                                    <span v-show="errors.has('email')" class="help text-danger">{{ errors.first('email') }}</span>
                                </div>

                                <div class="form-group">
                                    <label for="facebook">Facebook</label>
                                    <input type="text" class="form-control lgxname" v-model="facebook" name="facebook" >
                                    <span v-show="errors.has('facebook')" class="help text-danger">{{ errors.first('facebook') }}</span>
                                </div>

                                <div class="form-group">
                                    <label for="instagram">Instagram</label>
                                    <input type="text" class="form-control lgxname" v-model="instagram" name="instagram" >
                                    <span v-show="errors.has('instagram')" class="help text-danger">{{ errors.first('instagram') }}</span>
                                </div>

                                <div class="form-group">
                                    <label for="twitter">Twitter</label>
                                    <input type="text" class="form-control lgxname" v-model="twitter" name="twitter" >
                                    <span v-show="errors.has('twitter')" class="help text-danger">{{ errors.first('twitter') }}</span>
                                </div>

                                <div class="form-group">
                                    <label for="linkedin">Linkedin</label>
                                    <input type="text" class="form-control lgxname" v-model="linkedin" name="linkedin" >
                                    <span v-show="errors.has('linkedin')" class="help text-danger">{{ errors.first('linkedin') }}</span>
                                </div>

                                <div class="form-group">
                                    <label for="website">{{ trans('em.website') }}</label>
                                    <input type="text" class="form-control lgxname" v-model="website" name="website" >
                                    <span v-show="errors.has('website')" class="help text-danger">{{ errors.first('website') }}</span>
                                </div>

                            </div>

                            <div class="modal-footer">
                                <button type="submit" class="btn lgx-btn"><i class="fas fa-sd-card"></i> {{ trans('em.save') }}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</template>

<script>

import { mapState, mapMutations} from 'vuex';
import CKEditor from '@ckeditor/ckeditor5-vue';
import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
import mixinsFilters from '../../mixins.js';

export default {

    components: {
        ckeditor: CKEditor.component
    },

    props: ["edit_speaker", "organiser_id"],

    mixins:[
        mixinsFilters
    ],

    data() {
        return {
            imageSrc: 'https://via.placeholder.com/512x512.jpg',
            openModal: false,
                
            // important!!! declare all form fields
            image       : null,
            fullname    : null,
            designation : null,
            phone       : null,
            email       : null,
            facebook    : null,
            instagram   : null,
            twitter     : null,
            website     : null,
            linkedin    : null,
            editorData  : null,

            // for ck_editor
            editor      : null,
            editor      : ClassicEditor,
            editorData  : '',   // for description
            editorConfig: {
                // The configuration of the editor.
                toolbar: [ 'heading', '|', 'bold', 'italic', 'link', 'bulletedList', 'numberedList', 'blockQuote' ],
            }
        }
    },

    computed: {
        // get global variables
        // ...mapState( ['organiser_id']),
     
    },

    methods: {
        // update global variables
        ...mapMutations(['add', 'update']),

        // reset form and close modal
        close: function () {
            this.$refs.form.reset();
            this.$parent.edit_index = null;
            this.openModal = false;
            
        },

        editSpeaker(){
            this.imageSrc    = '/storage/'+this.edit_speaker.image;
            this.fullname    = this.edit_speaker.fullname;
            this.designation = this.edit_speaker.designation;
            this.phone       = this.edit_speaker.phone;
            this.email       = this.edit_speaker.email;
            this.facebook    = this.edit_speaker.facebook;
            this.instagram   = this.edit_speaker.instagram;
            this.twitter     = this.edit_speaker.twitter;
            this.website     = this.edit_speaker.website;
            this.linkedin    = this.edit_speaker.linkedin;
            this.editorData  = this.edit_speaker.about;
        },

        
        // create data
        // preview file if any
        onFileChange(e) {
            let files = e.target.files || e.dataTransfer.files;
            if (!files.length)
                return;
            this.createImage(files[0]);
        },
        createImage(file) {
            let reader = new FileReader();
            let vm = this;
            reader.onload = (e) => {
                vm.image    = e.target.result;
                vm.imageSrc = e.target.result;
            };
            reader.readAsDataURL(file);
        },

        // validate data on form submit
        validateForm(event) {
            this.$validator.validateAll().then((result) => {
                if (result) {
                    this.formSubmit(event);            
                }
            });
        },

        // show server validation errors
        serverValidate(serrors) {
            this.$validator.validateAll().then((result) => {
                this.$validator.errors.add(serrors);
            });
        },

        // submit form
        formSubmit(event) {

            // prepare form data for post request
            let post_url = route('eventmie.speakers_store');
            let post_data = new FormData(this.$refs.form);
            let post_progress = {
                onUploadProgress: uploadEvent => {
                    // console.log('Upload progress: '+ Math.round(uploadEvent.loaded / uploadEvent.total * 100)+ '%');
                }
            };

            // axios post request
            axios.post(post_url, post_data, post_progress)
            .then(res => {
                
                this.close();
                this.showNotification('success',  trans('em.speaker')+' '+trans('em.saved')+' '+trans('em.successfully'));
                // reload page   
                setTimeout(function() {
                    location.reload(true);
                }, 1000);
            
            })
            .catch(error => {
                let serrors = Vue.helpers.axiosErrors(error);
                if (serrors.length) {
                    this.serverValidate(serrors);
                }
            });
        },

        updateItem() {
            this.$emit('changeItem');
        }
    },

    mounted(){
       if(typeof this.edit_speaker !== 'undefined') {
            this.editSpeaker();
            this.openModal = true;
        }
    }
}
</script>