<!-- parent component-->
<template>
    <div class="container">
        <speaker-component 
            :organiser_id="organiser_id"
            :organisers="organisers"
            @changeItem="getSpeakers"
        >
        </speaker-component>

        <hr>

        <div class="row">
            <div class="col-md-12 table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="col-xs-3">{{ trans('em.name') }}</th>
                            <th class="col-xs-3">{{ trans('em.designation') }}</th>
                            <th class="col-xs-2">{{ trans('em.edit') }}</th>
                            <th class="col-xs-2">{{ trans('em.delete') }}</th>
                        </tr>
                    </thead>
                    <tbody>
                    
                        <tr class="active"  v-for="(item, index) in speakers"
                            v-bind:item="item"
                            v-bind:index="index"
                            v-bind:key="item.id" 
                        >
                            <td>{{ item.fullname }}</td>
                            <td>{{ item.designation }}</td>
                            <td> 
                                <button type="button" class="lgx-btn lgx-btn-sm" @click="edit_index = index">{{ trans('em.edit') }}</button>
                                <speaker-component @changeItem="getSpeakers" v-if="edit_index == index" :edit_speaker="item" ></speaker-component>
                            </td>
                            <td >
                                <button type="button" class="lgx-btn lgx-btn-sm lgx-btn-danger" @click="deleteSpeaker(item.id)">{{ trans('em.delete') }}</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
        </div>
        <div class="row" v-if="speakers.length > 0">
            <div class="col-md-12 text-center">
                <pagination-component v-if="pagination.last_page > 1" :pagination="pagination" :offset="pagination.total" :path="'/myspeakers'" @paginate="getSpeakers()">
                </pagination-component>
            </div>
        </div>
    </div>
    
</template>

<script>

import SpeakerComponent from './Speaker.vue';
import PaginationComponent from '../../common_components/Pagination';
import mixinsFilters from '../../mixins.js';

export default {
    props: [
        'organiser_id', 'organisers', 'page',
    ],

    components: {
        SpeakerComponent,
        PaginationComponent,
    },

    mixins:[
        mixinsFilters
    ],

    data() {
        return {
            speakers   : [],
            edit_index : null,
            pagination: {
                'current_page': 1
            },
        }
    },
    computed: {
         
        current_page() {
            // get page from route
            if(typeof this.page === "undefined")
                return 1;
            return this.page;
        },
    },
    methods: {
        getSpeakers() {
            axios.post(route('eventmie.speakers')+'?page='+this.current_page,{
               organiser_id : this.organiser_id, 
            })
            .then(res => {
                // fill data speakers array
                this.speakers   = res.data.speakers.data;
                this.pagination = {
                    'total' : res.data.speakers.total,
                    'per_page' : res.data.speakers.per_page,
                    'current_page' : res.data.speakers.current_page,
                    'last_page' : res.data.speakers.last_page,
                    'from' : res.data.speakers.from,
                    'to' : res.data.speakers.to
                };
            })
            .catch(error => {
                Vue.helpers.axiosErrors(error);
            });
        },
        deleteSpeaker(speaker_id){

            this.showConfirm(trans('em.you_want') + ' ' + trans('em.delete') + ' ' + trans('em.speaker')).then((res) => {
                if(res) {
         
                    axios.post(route('eventmie.speakers_delete'), {
                        speaker_id : speaker_id
                    })
                    .then(res => {
                    
                        if(res.data.status)
                        {
                            this.getSpeakers();
                            this.showNotification('success', trans('em.speaker')+' '+trans('em.deleted')+' '+trans('em.successfully'));
                        }
                    })
                    .catch(error => {
                        Vue.helpers.axiosErrors(error);
                    });
                }
            })
        }
    },


    mounted() {
        this.getSpeakers();
    }
}
</script>