<template>
    <div class="container">
        <div class="row">
            <div class="col-md-12 table-responsive">
                <table class="table table-condensed table-hover">
                    <thead>
                        <tr>
                            <th class="col-xs-3">{{ trans('em.event') }}</th>
                            <th class="col-xs-2">{{ trans('em.ticket') }}</th>
                            <th class="col-xs-2">{{ trans('em.total') }} {{ trans('em.paid') }}</th>
                            <th class="col-xs-3">{{ trans('em.event') }} {{ trans('em.timings') }} </th>
                            <th class="col-xs-2">{{ trans('em.booked') }} {{ trans('em.on') }} </th>
                            <th class="col-xs-2">{{ trans('em.status') }}</th>
                            <th class="col-xs-2">{{ trans('em.cancellation') }}</th>
                            <th class="col-xs-2">{{ trans('em.download') }}</th>
                        </tr>
                    </thead>
                    <tbody>
                    
                        <tr v-for="(booking, index) in bookings" :key="index" >
                            <td><a :href="eventSlug(booking.event_slug)">{{ booking.event_title+' ('+booking.event_category+')' }}</a></td>
                            <td>{{ booking.ticket_title }} <strong>{{ ' x '+booking.quantity }}</strong></td>
                            <td>{{ booking.net_price+' '+ currency }} </td>
                            <td>
                                <p>{{
                                     moment(convert_date_to_local(booking.event_start_date)).format('MMM DD,YYYY')+' - '+moment(convert_date_to_local(booking.event_end_date)).format('MMM DD,YYYY')  
                                     }}
                                </p>
                                <p>{{ convert_time_to_local(booking.event_start_date, booking.event_start_time, 'hh:mm A')+' - '+convert_time_to_local(booking.event_end_date, booking.event_end_time, 'hh:mm A') }}</p>
                            </td>
                            <td>{{ moment(convert_date_to_local(booking.updated_at)).format('MMM DD,YYYY') }}</td>
                            <td>
                                <span class="lgx-badge" v-if="booking.status == 1">{{ trans('em.enabled') }}</span>
                                <span class="lgx-badge lgx-badge-danger" v-else>{{ trans('em.disabled') }}</span>
                            </td>

                            <td v-if="booking.booking_cancel == 0">
                                <button type="button" class="lgx-btn lgx-btn-sm lgx-btn-danger" @click="bookingCancel(booking.id, booking.ticket_id, booking.event_id )">{{ trans('em.cancel') }}</button>
                            </td>
                            <td v-if="booking.booking_cancel == 1" ><span class="label label-warning">{{ trans('em.cancellation') }} {{ trans('em.pending') }}</span></td>
                            <td v-if="booking.booking_cancel ==2"><span class="label label-info">{{ trans('em.cancellation') }} {{ trans('em.approved') }}</span></td>
                            <td v-if="booking.booking_cancel == 3"><span class="label label-success">{{ trans('em.amount') }} {{ trans('em.refunded') }}</span></td>
                            <td><a class="lgx-btn lgx-btn-sm lgx-btn-success" :href="downloadURL(booking.id, booking.order_number)">{{trans('em.ticket')}}</a></td>
                        </tr>
                
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row" v-if="bookings.length > 0">
            <div class="col-md-12 text-center">
                <pagination-component v-if="pagination.last_page > 1" :pagination="pagination" :offset="pagination.total" :path="'/mybookings'" @paginate="getMyBookings()">
                </pagination-component>
            </div>
        </div>
    </div>
</template>


<script>

import PaginationComponent from '../../common_components/Pagination'
import { mapState, mapMutations} from 'vuex';
import mixinsFilters from '../../mixins.js';
var moment = require('moment');

export default {
    
    mixins:[
        mixinsFilters
    ],

    props: [
        // pagination query string
        'page',
        
    ],
    
    components: {
        PaginationComponent,
    },

    
    data() {
        return {
            bookings : [],
            moment   : moment,
            pagination: {
                'current_page': 1
            },
            currency : null,
        }
    },

     computed: {
        // get global variables
        ...mapState( []),

        
        current_page() {
            // get page from route
            if(typeof this.page === "undefined")
                return 1;
            return this.page;
        },
    },

    methods:{
          // get all events
        getMyBookings() {
            
            axios.get(route('eventmie.mybookings')+'?page='+this.current_page)
            .then(res => {
                this.currency   = res.data.currency;
                this.bookings   = res.data.bookings.data;
                this.pagination = {
                    'total' : res.data.bookings.total,
                    'per_page' : res.data.bookings.per_page,
                    'current_page' : res.data.bookings.current_page,
                    'last_page' : res.data.bookings.last_page,
                    'from' : res.data.bookings.from,
                    'to' : res.data.bookings.to
                };
            })
            .catch(error => {
                
            });
        },

        // cancel my booking
        bookingCancel(booking_id, ticket_id, event_id) {
            this.showConfirm(trans('em.you_want')+' '+trans('em.cancel')+' '+trans('em.booking')).then((res) => {
                if(res) {
                    axios.post(route('eventmie.mybookings_cancel'),{
                        booking_id : booking_id,
                        ticket_id  : ticket_id,
                        event_id   : event_id,
                    })
                    .then(res => {
                        if(res.data.status)
                        {
                            this.showNotification('success', 'Booking Canelled successfully');
                            this.getMyBookings();
                        }    
                    })
                    .catch(error => {});
                }
            })
        },

        // return route with event slug
        eventSlug(slug) {
            if(slug) {
                return route('eventmie.events_show',[slug]);
            }
        },

        // return route with download URL
        downloadURL(id, order_number) {
            if(id && order_number) {
                return route('eventmie.downloads_index',[id, order_number]);
            }
        },
    },
    mounted() {
        this.getMyBookings();
    }
}
</script>


