
// Datepicker
.mx-datepicker {
    font-family: inherit !important;
    padding: 0 !important;
    width: 100% !important;

    .mx-input-wrapper {
        position: initial !important;

        .mx-input {
            border: none;
            box-shadow: none;
            height: auto;
            padding: 1.5rem 2rem;
        }
    }
}

// Multiselect
.multiselect {
    padding: 0 !important;
    display: inline-table !important;

    // &__content-wrapper {
    //     max-height: 250px !important;
    //     height: 250px !important;
    //     overflow: auto !important;
    // }

    &__select {
        top: 6px !important;
    }

    &__tags {
        padding: 1.5rem 3rem 0.7rem 1.5rem !important;
        border-radius: 0 !important;
        border: none !important;
        background: none !important;
        height: auto !important;
    }
}

// Image cropper
.croppa-container {
    background: lighten($brand-color, 38%);
    border: none;
    border-radius: 0;
    display: inline-block;
    position: relative;
    overflow: hidden;
    transition: all .2s ease-in-out;

    &:hover {
        cursor: pointer;
    }
    
    &.croppa-thumbnail {
        width: 260px;
        height: 260px;
    }

    &.croppa-cover {
        width: 486px;
        height: 276px;
    }

    svg {
        position: absolute !important;
        z-index: 999 !important;
        top: 0 !important;
        right: 0 !important;
    }
}

.g-map-wrapper {
    min-height: 500px;
}

// ck editor
.ck.ck-editor__main>.ck-editor__editable {
    border-color: #dcdcdc !important;
    min-height: 128px !important;
    box-shadow: none !important;
    border-radius: 4px !important;
}

.ck.ck-toolbar {
    border: none !important;
    background: transparent !important;
    
    &__separator {
        background: transparent !important;
    }

}