<template>
    <div class="container">
        <div class="row">
            <div class="col-md-12 table-responsive">
                <table class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th class="col-xs-3">{{ trans('em.event') }}</th>
                            <th class="col-xs-2">{{ trans('em.ticket') }}</th>
                            <th class="col-xs-2">{{ trans('em.customer') }} {{ trans('em.email') }}</th>
                            <th class="col-xs-2">{{ trans('em.total') }} {{ trans('em.paid') }}</th>
                            <th class="col-xs-3">{{ trans('em.timings') }}</th>
                            <th class="col-xs-2">{{ trans('em.created') }}</th>
                            <th class="col-xs-2">{{ trans('em.cancellation') }}</th>
                            <th class="col-xs-2">{{ trans('em.status') }}</th>
                            <th class="col-xs-2">{{ trans('em.actions') }}</th>
                            <th class="col-xs-2">{{ trans('em.download') }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(booking, index) in bookings" :key="index" >
                            <td><a :href="eventSlug(booking.event_slug)">{{ booking.event_title+' ('+booking.event_category+')' }}</a></td>
                            <td>{{ booking.ticket_title }} <strong>{{ ' x '+booking.quantity }}</strong></td>
                            <td>{{ booking.customer_email}}</td>
                            <td>{{ booking.net_price+' '+currency }}</td>
                            <td>
                                <p>{{
                                    moment(convert_date_to_local(booking.event_start_date)).format('MMM DD,YY')+' - '+moment(convert_date_to_local(booking.event_end_date)).format('MMM DD,YY')  
                                    }}
                                </p>
                                <p>
                                    {{ convert_time_to_local(booking.event_start_date, booking.event_start_time, 'hh:mm A')+' - '+convert_time_to_local                          (booking.event_end_date, booking.event_end_time, 'hh:mm A') 
                                    }}
                                </p>
                            </td>
                            <td>{{ moment(convert_date_to_local(booking.updated_at)).format('MMM DD,YYYY') }}</td>
                            <td>
                                <span class="lgx-badge" v-if="booking.booking_cancel == 0">{{ trans('em.no') }}</span>
                                <span class="lgx-badge lgx-badge-warning" v-if="booking.booking_cancel == 1">{{ trans('em.pending') }}</span>
                                <span class="lgx-badge lgx-badge-info" v-if="booking.booking_cancel == 2">{{ trans('em.approved') }}</span>
                                <span class="lgx-badge lgx-badge-success" v-if="booking.booking_cancel == 3">{{ trans('em.refunded') }}</span>
                            </td>
                            <td>
                                <span class="lgx-badge" v-if="booking.status == 1">{{ trans('em.enabled') }}</span>
                                <span class="lgx-badge lgx-badge-danger" v-else>{{ trans('em.disabled') }}</span>
                            </td>
                            <td>
                                <a class="lgx-btn lgx-btn-sm lgx-btn-black" :href=" goto_route(booking.id)">
                                    <span>{{ trans('em.view') }}</span>
                                </a>
                                <button type="button" class="lgx-btn lgx-btn-sm lgx-btn-info" @click="edit_index = index">
                                    <span >{{ trans('em.edit') }}</span>
                                </button>
                                <edit-booking 
                                    :booking    = "booking"
                                    v-if="edit_index == index" 
                                    @changeItem = "getOrganiserBookings"

                                ></edit-booking>
                            </td>
                            <td><a class="lgx-btn lgx-btn-sm lgx-btn-success" :href="downloadURL(booking.id, booking.order_number)">{{trans('em.ticket')}}</a></td>
                        </tr>
                
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-center" v-if="bookings.length > 0">
                <pagination-component v-if="pagination.last_page > 1" :pagination="pagination" :offset="pagination.total" :path="'/bookings'" @paginate="getOrganiserBookings()">
                </pagination-component>
            </div>       
        </div>
    </div>
</template>


<script>

import PaginationComponent from '../../common_components/Pagination'
import { mapState, mapMutations} from 'vuex';
import mixinsFilters from '../../mixins.js';
import EditBooking from './EditBooking.vue';
var moment = require('moment');

export default {
    
    mixins:[
        mixinsFilters
    ],

    props: [
        // pagination query string
        'page',
        
    ],
    
    components: {
        PaginationComponent,
        EditBooking,
    },

    
    data() {
        return {
            bookings   : [],
            moment     : moment,
            edit_index : null,
             pagination: {
                'current_page': 1
            },
            currency   : null,
        }
    },

     computed: {
        // get global variables
        ...mapState( []),

        
        current_page() {
            // get page from route
            if(typeof this.page === "undefined")
                return 1;
            return this.page;
        },
    },

    methods:{
          // get all events
        getOrganiserBookings() {
            
            axios.get(route('eventmie.obookings_organiser_bookings')+'?page='+this.current_page)
            .then(res => {
                this.currency   = res.data.currency;
                this.bookings   = res.data.bookings.data;
                this.pagination = {
                    'total' : res.data.bookings.total,
                    'per_page' : res.data.bookings.per_page,
                    'current_page' : res.data.bookings.current_page,
                    'last_page' : res.data.bookings.last_page,
                    'from' : res.data.bookings.from,
                    'to' : res.data.bookings.to
                };
            })
            .catch(error => {
                
            });
        },

        // view booking by organiser 
        organiserViewBooking(booking_id) {
            axios.get(route('eventmie.obookings_organiser_bookings_show',[booking_id]))
            .then(res => {
                if(res.data.status)
                {
                    this.getOrganiserBookings();
                }    
            })
            .catch(error => {
                
            });
        },

        // view booking
        goto_route(id) {
            return route('eventmie.obookings_organiser_bookings_show', {id:id});
        },

        // return route with event slug
        eventSlug(slug){
            
            if(slug)
            {
                return route('eventmie.events_show',[slug]);
            }    
        },

        // return route with download URL
        downloadURL(id, order_number) {
            if(id && order_number) {
                return route('eventmie.downloads_index',[id, order_number]);
            }
        },
    },
   
    mounted() {
        this.getOrganiserBookings();
    }
}
</script>


